unit_tests*
.idea
*.o
a.out
zappy_ai
zappy_server
zappy_gui
binaries
__pycache__
zappy_ref-2-0-2
*.log
*.elf
*.coverage
__pycache__/
.venv
root
venv

*.a
.vscode/
vgcore*
storage/
my_main.c
zappy_test/
*.d
*.txt

# Fichiers raylib indésirables

xdg*
wayland*
viewporter*
pointer-constraints*
fractional*
relative-pointer*
idle-inhibit*

sys
.DS_Store
zappy_*.dSYM
